.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    width: 90%;
    gap: 40px;
}

.about-left{
    flex-basis: 40%;
}

.about-left{
    flex-basis: 56%;
    position: relative;
}

.about-img{
    width: 100%;
    border-radius: 10px;
}

.play-icon{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

.about h3{
    font-weight: 600;
    font-size: 16px;
    color: #212ea0;
}

.about h2{
    font-size: 35px;
    color: #000f38;
    margin: 10px 0;
    max-width: 400px;
}

.about p{
    color: #676767;
    margin-bottom: 15px;
}