.contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.contact-col{
    flex-basis: 48%;
    color: #676767;
}

.contact-col h3{
    color: #000f38;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-col h3 img{
    width: 30px;
    margin-left: 10px;
}

.contact-col p{
    max-width: 450px;
    list-style: 0.3;
}


.contact-col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.contact-col ul li img{
    width: 25px;
    margin-right: 10px;
}


.contact {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .contact-col {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .contact-col h3 {
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .contact-col h3 img {
    margin-left: 10px;
  }
  
  .contact-col p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .contact-col ul {
    list-style-type: none;
    padding: 0;
  }
  
  .contact-col ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .contact-col ul li img {
    margin-right: 10px;
  }
  
  .contact-col form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-col form label {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .contact-col form input,
  .contact-col form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-col form input:focus,
  .contact-col form textarea:focus {
    outline: none;
    border-color: #777;
  }
  
  .contact-col form .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-col form .btn img {
    margin-left: 10px;
  }
  
  .contact-col form .btn:hover {
    background-color: #555;
  }
  