@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@100..800&family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Racing+Sans+One&display=swap');

*{
  font-family: "Outfit", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #f5f5f5;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container{
  padding-left: 10%;
  padding-right: 10%;
}

.btn{
  font-size: 16px;
  font-weight: 600;
  background: #fff;
  color: #212121;
  padding: 14px 20px;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn.dark-btn{
  background: #212ea0;
  color: white;
}

.btn img{
  width: 20px;
  margin-left: 10px;
}